parameters:
    level: 6

    paths:
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        -
            message: '#^Closure invoked with 2 parameters, 0 required\.$#'
            count: 3
            path: tests/TestCase/Log/Engine/EntityFileLogTest.php

        -
            message: '# has no return typehint specified\.$#'
            path: tests/TestCase
